<!DOCTYPE html>
<html>
<head>
  <title>funktion.fm</title>
  <meta charset="utf-8">
  <link href='{{static.root}}css/funktion.css' rel='stylesheet' type='text/css'>
  <script src="js/jquery-2.0.3.min.js"></script>
  <script src="js/d3.js"></script>
  <script src="js/underscore-min.js"></script>
</head>

<body>
  <svg>
  </svg>
  <script src="{{static.root}}js/funktion.js">

  </script>

  <div id="contactBody">
    <div id="contactTitle">funktion.fm</div>
    <div id="contactName">Sébastien Piquemal</div>
    <div id="contactMail">sebpiq@gmail.com</div>
    <div id="contactSocial">
      <a href="https://twitter.com/sebpiq"><img src="images/twitter.png" /></a>
      <a href="https://github.com/sebpiq"><img src="images/github.png" /></a>
      <a href="https://soundcloud.com/sebpiq"><img src="images/soundcloud.png" /></a>
      <a href="https://vimeo.com/sebpiq"><img src="images/vimeo.png" /></a>
    </div>
  </div>

  <div id="newsBody">
    <div id="newsContainer">
      <div id="newsTitle">News</div>    
      {{#each getPosts}}
        <div class="postTitle">{{title}}</div>
        <div class="postTags">{{tags}}</div>
        <div class="postDate">{{date}}</div>
        <div class="postContent">{{{content}}}</div>
      {{/each}}
    </div>
  </div>

</body>

</html>
