<!DOCTYPE html>
<html>
<head>
  <title>funktion.fm</title>
  <meta charset="utf-8">
  <link href="{{static.root}}css/webfontkit/stylesheet.css" rel="stylesheet" type="text/css">
  <link href="{{static.root}}css/funktion.fm.css" rel="stylesheet" type="text/css">
  <script src="{{static.root}}js/funktion.fm.js"></script>
  <script src="http://platform.twitter.com/widgets.js"></script>
</head>

<body>

  <svg id="bgSvg"></svg>
  <div id="mainPage">

    <ul class="menu">
      <li class="contact">funktion.fm</li>
      <li class="news">NEWS</li>
      <li class="projects">PROJECTS</li>
    </ul>

    <div id="contactBody">
      <div class="title">funktion.fm</div>
      <div class="name">Sébastien Piquemal</div>
      <div class="mail">sebpiq@gmail.com</div>
      <div class="social">
        <a href="https://twitter.com/sebpiq"><img src="images/twitter.png" /></a>
        <a href="https://github.com/sebpiq"><img src="images/github.png" /></a>
        <a href="https://soundcloud.com/sebpiq"><img src="images/soundcloud.png" /></a>
        <a href="https://vimeo.com/sebpiq"><img src="images/vimeo.png" /></a>
      </div>
    </div>

    <div id="newsBody">

      <div class="posts">
      {{#each getPosts}}
        <div class="summary">
          <div class="title"><a href="#post/{{slug}}">{{title}}</a></div>
          <div class="date">{{prettifyDate date}}</div>
          {{#if category}}<div class="project"><a href="#project/{{category}}">{{category}}</a></div>{{/if}}
          <div class="clearfix"></div>
        </div>
      {{/each}}
      </div>

      <div class="detail"></div>

    </div>

    <div id="projectsBody">
      <a class="project" href="#project/tonuglawo">
        <div class="title">Tonuglawo</div>
        <div class="description">
          An experimental performance based on wireless microphones and a playful audience.
        </div>
      </a>
      <a class="project" href="#project/versificatorfm">
        <div class="title">versificator.fm</div>
        <div class="description">
          A computer program which generates an infinite stream of music by using collage techniques.
        </div>
      </a>
      <a class="project" href="#project/webpd">
        <div class="title">WebPd</div>
        <div class="description">
          Run your Pure Data patches in the browser, 100% pure JavaScript.
        </div>
      </a>
      <a class="project" href="#project/rpi-workshops">
        <div class="title">Pure Data and Raspberry Pi workshops</div>
        <div class="description">
          Building portable instruments with Pure Data and Raspberry Pi.
        </div>
      </a>
    </div>
  </div>

  <div id="projectMiniSite"></div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-17637518-4', 'funktion.fm');
    ga('send', 'pageview');
  </script>

</body>

</html>
