<!DOCTYPE html>
<html>
<head>
  <title>funktion.fm</title>
  <meta charset="utf-8">
  <link href="{{static.root}}css/webfontkit/stylesheet.css" rel="stylesheet" type="text/css">
  <link href="{{static.root}}css/jquery.jscrollpane.css" rel="stylesheet" type="text/css" media="all" />
  <link href="{{static.root}}css/funktion.fm.css" rel="stylesheet" type="text/css">
  <link href="{{static.root}}css/friendly.css" rel="stylesheet" type="text/css">
  <script src="http://platform.twitter.com/widgets.js"></script>
</head>

<body>

  <!--
  <script type="text/javascript">
      var disqus_shortname = 'funktionfm';
      var disqus_identifier = 'index';
      var disqus_url = document.location.href;

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>-->



  <svg id="bgSvg"></svg>
  <div id="mainPage">
    <header>
      <button class="toggle">
        <img class="white" src="{{static.root}}images/nav-white.svg" />
        <img class="black" src="{{static.root}}images/nav-black.svg" />
      </button>
      <nav>
        <ul class="menu">
          <li class="contact"><button>funktion.fm</button></li>
          <li class="news"><button>NEWS</button></li>
          <li class="projects"><button>PROJECTS</button></li>
        </ul>
      </nav>
    </header>

    <div id="contactBody">
      <div class="title">funktion.fm</div>
      <div class="name">Sébastien Piquemal</div>
      <div class="mail">sebpiq@gmail.com</div>
      <div class="social">
        <a href="https://twitter.com/sebpiq"><img src="images/twitter.png" /></a>
        <a href="https://github.com/sebpiq"><img src="images/github.png" /></a>
        <a href="https://soundcloud.com/sebpiq"><img src="images/soundcloud.png" /></a>
        <a href="https://vimeo.com/sebpiq"><img src="images/vimeo.png" /></a>
      </div>
    </div>

    <div id="newsBody">
      {{#each getPosts}}
      <div class="summary">
        <div class="title">
          <div class="date">{{prettifyDate date}}</div>
          <a href="#post/{{slug}}">{{title}}</a>
        </div>
        <div class="preview">{{{preview}}}</div>
        <div class="clearfix"></div>
      </div>
      {{/each}}
    </div>

    <div id="postBody"></div>

    <div id="projectsBody">

      <!-- FIELDS -->
      <div class="project">

        <div class="tile info" href="#/projects/fields-infos">
          <div class="thumbnail">
            <span>Fields)_(</span>
          </div>

          <div class="content">
            <p>Fields is a networked system exploring new areas of musical performance and audience participation through the use of mobile technology as a medium for sound diffusion.</p>

            <p>In western culture, attending a concert is the dominant context for live music listening. This tradition is largely codified; there tends to be a clear separation between stage and audience, with the focus on the performers, who are sometimes elevated, physically and culturally, to superhuman status.</p>

            <p><img data-src="images/projects/fields-1.png" style="width:100%" /></p>

            <p>Fields stems from a desire to reconfigure the audience-performer relationship. The system allows any audience member to join in, at any time, by simply connecting to a specially designed website with their mobile phone, laptop or tablet. The connected devices become an array of speakers which the performers can control live, resulting in an omnidirectional sonic experience.</p>

            <p>The piece doesn't feature a stage. The performers are sitting among the audience. This intimate setup, is an attempt to demonstrate the potential for enhancement of communal listening through explorations of new aural contexts, and we hope it will become a shared and intimate environment for music listening.</p>

            <p><img data-src="images/projects/fields-3.png" style="width:100%" /></p>
          </div>
        </div>

        <div class="tile" href="#/projects/fields-live-recordings">
          <div class="thumbnail" style="background-image:url('../images/projects/fields-5-small.png')">
            <div class="subtitle">Live Recordings &#9655;</div>
          </div>
          <div class="content">
            <iframe width="100%" height="50%" data-src="//www.youtube.com/embed/P1aj6vwFITI" frameborder="0" allowfullscreen></iframe>
            <iframe width="100%" height="50%" data-src="//www.youtube.com/embed/KyNdK5RSN_c" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="tile" href="#/projects/fields-newcastle">
          <div class="thumbnail" style="background-image:url('../images/projects/fields-4-small.png')">
            <div class="subtitle">22/06/2014, Newcastle &#9655;</div>
          </div>
          <div class="content">
            <iframe data-src="//player.vimeo.com/video/100485487?title=0&amp;byline=0&amp;portrait=0" width="100%" height="50%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

        <div class="tile" href="#/projects/fields-helsinki">
          <div class="thumbnail" style="background-image:url('../images/projects/fields-2-small.png')">
            <div class="subtitle">08/04/2014, Helsinki &#9655;</div>
          </div>
          <div class="content">
            <iframe data-src="//player.vimeo.com/video/92586493?title=0&amp;byline=0&amp;portrait=0" width="100%" height="50%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

        <div class="tile" href="#/projects/fields-prototype">
          <div class="thumbnail" style="background-image:url('../images/projects/fields-proto-1-small.png')">
            <div class="subtitle">03/2014, first prototype &#9655;</div>
          </div>
          <div class="content">
            <iframe data-src="//player.vimeo.com/video/91029158?title=0&amp;byline=0&amp;portrait=0" width="100%" height="50%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

      </div>

      <!-- Raspberry Pi workshops -->
      <div class="project">

        <div class="tile info" href="#/projects/pd-rpi-workshops-infos">
          <div class="thumbnail">
            <span>Pure Data and Raspberry Pi workshops</span>
          </div>
          <div class="content">
            <p>Pure Data running like a charm on a Raspberry Pi, opens-up a world of possibilities for live performance. Forget expensive, clumsy, heavy computers and synthesizers. You can program this cheap, lovely, credit-card sized computer to be a synthesizer, a granulator, or something much more crazy... Just drop a few of them in your backpack, and you're ready to play anywhere!</p>

            <p><img data-src="images/projects/pd-rpi-workshop-3.jpg" style="width:100%" /></p>
          </div>
        </div>

        <div class="tile" href="#/projects/pd-rpi-workshops-helsinki">
          <div class="thumbnail" style="background-image:url('images/projects/pd-rpi-workshop-5-small.jpg')">
            <div class="subtitle">
              04/2014, workshop Helsinki &#9655;
            </div>
          </div>
          <div class="content">
            <iframe data-src="//player.vimeo.com/video/98737686?title=0&amp;byline=0&amp;portrait=0" width="100%" height="50%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

        <div class="tile" href="#/projects/pd-rpi-workshops-riga-2">
          <div class="thumbnail" style="background-image:url('images/projects/pd-rpi-workshop-2-small.jpg')">
            <div class="subtitle">
              10/2013, jam session Riga #2 &#9655;
            </div>
          </div>
          <div class="content">
            <iframe data-src="//player.vimeo.com/video/76642179?title=0&amp;byline=0&amp;portrait=0" width="100%" height="50%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

        <div class="tile" href="#/projects/pd-rpi-workshops-riga">
          <div class="thumbnail" style="background-image:url('images/projects/pd-rpi-workshop-1-small.jpg')">
            <div class="subtitle">
              10/2013, jam session Riga &#9655;
            </div>
          </div>
          <div class="content">
            <iframe data-src="//player.vimeo.com/video/76307579?title=0&amp;byline=0&amp;portrait=0" width="100%" height="50%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

      </div>

      <!-- Versificator -->
      <div class="project">

        <div class="tile info" href="#/projects/versificator-infos">
          <div class="thumbnail">
            <span>Versificator</span>
          </div>
          <div class="content">
            <p>Experiments on automatic recycling of the overwhelming amount of music available on the planet.</p>
          </div>
        </div>

        <div class="tile" href="#/projects/versificator-rubbish-stream">
          <div class="thumbnail" style="background-image:url('')">
            <div class="subtitle">
              05/2013, stream prototype &#9655;
            </div>
          </div>
          <div class="content">
            <p>
              <b>This is a stream generated continuously from bits of tracks downloaded from SoundCloud. Press play to start listening.
              This generates mostly random rubish, but it is really just a prototype to test out different technologies.</b>
            </p>
            <p>
              The tracks are downloaded in the background, an algorithm looks for interesting bits, extracts them and saves them in a database. Then the stream is generated by simply fetching from the database random bits and putting them together. 
            </p>
            <p>
              <b>Note</b> : only ogg stream is available at the moment, so it won't work in Internet Explorer, and might not work in Safari.
            </p>
            <audio controls="">
              <!--<source src="http://versificator.fm:8000/main" type="audio/mpeg" />-->
              <source data-src="http://versificator.fm:8000/main" type="audio/ogg" />
              <em>Sorry, your browser doesn't support HTML5 audio.</em>
            </audio>
          </div>
        </div>

        <div class="tile" href="#/projects/versificator-paulstretch">
          <div class="thumbnail" style="background-image:url('')">
            <div class="subtitle">
              11/2014, Stretched and Droned &#9655;
            </div>
          </div>
          <div class="content">
            <p>Demo &gt; <a href="http://sebpiq.github.io/paulstretch.js/examples/stretched-and-droned/dist/index.html">HERE</a></p>

            <p>There is lot of audio content and music readily available on the Internet. In fact more than you could ever listen to. So instead of composing everything from scratch all over again, why not just recycling what's already there?</p>

            <p>Based on this idea, I built a simple "instrument" that allows you to fetch any track from soundcloud and turn it into a drone by using paulstretch and bit of amplitude modulation and filtering.</p>

            <p>Unfortunately, I expect this demo to stop working before long, as <a href="http://webaudio.github.io/web-audio-api/#security-with-mediaelementaudiosourcenode-and-cross-origin-resources">Web Audio API specifies</a> that fetching sounds like that from other web sites is a security issue and must be prevented.</p>
          </div>
        </div>

      </div>

      <!-- Others -->
      <div class="project">

        <div class="tile info" href="#/projects/others-infos">
          <div class="thumbnail">
            <span>Freelance</span>
          </div>
          <div class="content">
            <p>These are some projects I worked on as a freelancer, realizing sound design or programming tasks.</p>
          </div>
        </div>

        <div class="tile" href="#/projects/others-cinemaissi">
          <div class="thumbnail" style="background-image:url('images/projects/cinemaissi.jpg')">
            <div class="subtitle">
              cinemaissi 2014, festival trailer, sound design &#9655;
            </div>
          </div>
          <div class="content">
            <iframe data-src="//player.vimeo.com/video/109013694?title=0&amp;byline=0&amp;portrait=0" width="100%" height="50%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div id="modal">
    <div class="content"></div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-17637518-4', 'funktion.fm');
    ga('send', 'pageview');
  </script>

  <script src="{{static.root}}js/funktion.fm.js"></script>

</body>

</html>
