<!DOCTYPE html>
<html>
<head>
  <title>funktion.fm</title>
  <meta charset="utf-8">
  <link href="{{static.root}}css/webfontkit/stylesheet.css" rel="stylesheet" type="text/css">
  <link href="{{static.root}}css/jquery.jscrollpane.css" rel="stylesheet" type="text/css" media="all" />
  <link href="{{static.root}}css/funktion.fm.css" rel="stylesheet" type="text/css">
  <link href="{{static.root}}css/friendly.css" rel="stylesheet" type="text/css">
  <script src="http://platform.twitter.com/widgets.js"></script>
</head>

<body>
  <!--
  <script type="text/javascript">
      var disqus_shortname = 'funktionfm';
      var disqus_identifier = 'index';
      var disqus_url = document.location.href;

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>-->



  <svg id="bgSvg"></svg>
  <div id="mainPage">
    <header>
      <button class="toggle">
        <img class="white" src="{{static.root}}images/nav-white.svg" />
        <img class="black" src="{{static.root}}images/nav-black.svg" />
      </button>
      <nav>
        <ul class="menu">
          <li class="contact"><button>funktion.fm</button></li>
          <li class="news"><button>NEWS</button></li>
          <li class="projects"><button>PROJECTS</button></li>
        </ul>
      </nav>
    </header>

    <div id="contactBody">
      <div class="title">funktion.fm</div>
      <div class="name">Sébastien Piquemal</div>
      <div class="mail">sebpiq@gmail.com</div>
      <div class="social">
        <a href="https://twitter.com/sebpiq"><img src="images/twitter.png" /></a>
        <a href="https://github.com/sebpiq"><img src="images/github.png" /></a>
        <a href="https://soundcloud.com/sebpiq"><img src="images/soundcloud.png" /></a>
        <a href="https://vimeo.com/sebpiq"><img src="images/vimeo.png" /></a>
      </div>
    </div>

    <div id="newsBody">
      <ul>
        {{#each getPosts}}
        <li class="title">
          <div class="date">{{prettifyDate date}}</div>
          <a href="#post/{{slug}}">{{title}}</a>
          <div class="clearfix"></div>
        </li>
        {{/each}}
      </ul>
    </div>

    <div id="postBody"></div>

    <div id="projectsBody">

      <div id="concertsList">
        <ul>
          {{#each dates}}
          <li class="title">
            <span class="venue">{{venue}}</span>
            <a class="project" href="{{projectUrl}}">{{projectName}}</a>
            <span class="date">{{date}}</span>
          </li>
          {{/each}}
        </ul>
      </div>


      <div id="projectsList">
        
        <!-- FIELDS -->
        <div class="tile info" href="#/projects/fields-infos">
          <div class="thumbnail">
            <span>Fields</span>
          </div>

          <div class="content">
            <h2>Fields</h2>

            <p>Fields is a networked system exploring new areas of musical performance and audience participation through the use of mobile technology as a medium for sound diffusion. This project is realized in collaboration with English sound artist <a href="tim-shaw.net">Tim Shaw</a>.</p>

            <p>
              <img data-src="images/projects/fields-6.jpg" style="width:49%" />
              <img data-src="images/projects/fields-1-smaller.png" style="width:49%" />
            </p>

            <p>Fields stems from a desire to reconfigure the audience-performer relationship. The system allows any audience member to join in, at any time, by simply connecting to a specially designed website with their mobile phone, laptop or tablet. The connected devices become an array of speakers which the performers can control live, resulting in an omnidirectional sonic experience.</p>

            <p>The piece doesn't feature a stage and we try with each performance to create a shared and intimate environment for music listening.</p>

            <p>
              <ul>
                <li><a href="https://nime2015.lsu.edu/proceedings/196/index.html">Paper in proceedings of NIME 2015</a></li>
              </ul>
            </p>
            
            <p>
              <iframe src="//player.vimeo.com/video/120524097?byline=0&portrait=0" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </p>

          </div>
        </div>

        <div class="tile" href="#/projects/fields-live-recordings">
          <div class="thumbnail" style="background-image:url('../images/projects/fields-5-small.png')">
            <div class="subtitle">Live Recordings </div>
          </div>
          <div class="content">
            <iframe src="//player.vimeo.com/video/144312243?byline=0&portrait=0" width="100%" height="50%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <iframe width="100%" height="50%" data-src="//www.youtube.com/embed/P1aj6vwFITI" frameborder="0" allowfullscreen></iframe>
            <iframe width="100%" height="50%" data-src="//www.youtube.com/embed/KyNdK5RSN_c" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="tile" href="#/projects/fields-documentation-videos">
          <div class="thumbnail" style="background-image:url('../images/projects/fields-4-small.png')">
            <div class="subtitle">Documentation videos </div>
          </div>
          <div class="content">
            <iframe data-src="//player.vimeo.com/video/100485487?title=0&amp;byline=0&amp;portrait=0" width="100%" height="50%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <iframe data-src="//player.vimeo.com/video/92586493?title=0&amp;byline=0&amp;portrait=0" width="100%" height="50%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

        <div class="tile" href="#/projects/murmurate">
          <div class="thumbnail" style="background-image:url('../images/projects/murmurate-1.jpg')">
            <div class="subtitle">Murmurate </div>
          </div>
          <div class="content">
            <h2>Murmurate</h2>

            <p>Murmurate was a commission from <a href="http://sanctuary2015.org/">Sanctuary festival</a> in Galloway Forest, Scotland. It uses the Fields system.
            </p>

            <p>The composition incorporates synthesized sounds and field recordings from the immediate surroundings of Galloway Forest. After collection, these sounds are processed, organized and performed through a swarm of tiny mobile speakers from the participants’ devices. The result is a highly spatialised sound piece with each audience member holding their own distinctive part of the composition.</p>

            <p>The collective devices create an array of overlapping and intertwined sensory experiences. As well as sonic feedback, each mobile screen is sound responsive, flashing from black to white each time a sound is heard.</p>

            <p>Murmurate explores the interject between sound and vision, gaining a unique perspective on the immediate landscape. A connection is established between people, the portable devices they always carry and the surrounding nature as it is plunged into darkness.</p>

            <p>
              <img data-src="images/projects/murmurate-3.png" style="width:49%" />
              <img data-src="images/projects/murmurate-2.png" style="width:49%" />
            </p>

          </div>
        </div>


        <!-- New Weave -->
        <div class="tile info" href="#/projects/newweave">
          <div class="thumbnail">
            <span>New Weave</span>
          </div>
          <div class="content">
            <h2>New Weave</h2>
            <p>
In western culture, attending a concert is the dominant context for live music listening. This tradition is generally codified; there tends to be a clear separation between stage and audience, with the focus on the performers, who are sometimes elevated, physically and culturally, to superhuman status. However, outside of this dominant culture there exist many alternative forms of music performance. 
            </p>
            <p>
Each smart phone being a potential microphone, inviting the audience members to directly participate in a live music show has never been so easy. In New Weave, the audience can connect to a local website with their mobile devices, and are invited through a simple interface to record and send audio samples. These sounds become instantly available as musical material to the performers. As it starts, the piece is nothing but a blank setup and only when the first samples are sent by participants can the musicians start to play, improvising with electronics, trying to organize the flow of sounds.
            </p>

            <p>
Snapping their fingers, speaking, whistling into their phones, the participants expose themselves. The musicians on the other hand have to respond instantly to any incoming sound, and are thus in a permanent state of destabilization. Through this open outcome and this double vulnerability, a different type of relationship emerges, based on dialogue and exchange rather than blind hierarchy ; a fragile equilibrium, held together with glitchy rhythms and deep pulsating pads.
            </p>

            <p>
              <iframe src="//player.vimeo.com/video/120474851?byline=0&portrait=0" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </p>
            
          </div>
        </div>

        <div class="tile" href="#/projects/newweave-videos">
          <div class="thumbnail" style="background-image:url('images/projects/newweave-1-small.png')">
            <div class="subtitle">
              3rd Space, 22/01/2015 
            </div>
          </div>
          <div class="content">
            <iframe src="//player.vimeo.com/video/120474851?byline=0&portrait=0" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

        <!-- Raspberry Pi workshops -->
        <div class="tile info" href="#/projects/pd-rpi-workshops-infos">
          <div class="thumbnail">
            <span>Pure Data and Raspberry Pi workshops</span>
          </div>
          <div class="content">
            <p>Pure Data running like a charm on a Raspberry Pi, opens-up a world of possibilities for live performance. Forget expensive, clumsy, heavy computers and synthesizers. You can program this cheap, lovely, credit-card sized computer to be a synthesizer, a granulator, or something much more crazy... Just drop a few of them in your backpack, and you're ready to play anywhere!</p>

            <p><img data-src="images/projects/pd-rpi-workshop-3.jpg" style="width:100%" /></p>
          </div>
        </div>

        <div class="tile" href="#/projects/pd-rpi-workshops-helsinki">
          <div class="thumbnail" style="background-image:url('images/projects/pd-rpi-workshop-5-small.jpg')">
            <div class="subtitle">
              04/2014, Helsinki 
            </div>
          </div>
          <div class="content">
            <iframe data-src="//player.vimeo.com/video/98737686?title=0&amp;byline=0&amp;portrait=0" width="100%" height="50%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

        <div class="tile" href="#/projects/pd-rpi-workshops-riga">
          <div class="thumbnail" style="background-image:url('images/projects/pd-rpi-workshop-2-small.jpg')">
            <div class="subtitle">
              10/2013, Riga </br> &#32;&#32; 
            </div>
          </div>
          <div class="content">
            <iframe data-src="//player.vimeo.com/video/76642179?title=0&amp;byline=0&amp;portrait=0" width="100%" height="50%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <iframe data-src="//player.vimeo.com/video/76307579?title=0&amp;byline=0&amp;portrait=0" width="100%" height="50%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

        <!-- Versificator -->
        <div class="tile info" href="#/projects/versificator-infos">
          <div class="thumbnail">
            <span>Versificator</span>
          </div>
          <div class="content">
            <p>Experiments on automatic recycling of the overwhelming amount of music available on the planet.</p>
          </div>
        </div>

        <div class="tile" href="#/projects/versificator-rubbish-stream">
          <div class="thumbnail" style="background-image:url('')">
            <div class="subtitle">
              05/2013, stream prototype 
            </div>
          </div>
          <div class="content">
            <p>
              <b>This is a stream generated continuously from bits of tracks downloaded from SoundCloud. Press play to start listening.
              This generates mostly random rubish, but it is really just a prototype to test out different technologies.</b>
            </p>
            <p>
              The tracks are downloaded in the background, an algorithm looks for interesting bits, extracts them and saves them in a database. Then the stream is generated by simply fetching from the database random bits and putting them together. 
            </p>
            <p>
              <b>Note</b> : only ogg stream is available at the moment, so it won't work in Internet Explorer, and might not work in Safari.
            </p>
            <audio controls="">
              <!--<source src="http://versificator.fm:8000/main" type="audio/mpeg" />-->
              <source data-src="http://versificator.fm:8000/main" type="audio/ogg" />
              <em>Sorry, your browser doesn't support HTML5 audio.</em>
            </audio>
          </div>
        </div>

        <div class="tile" href="#/projects/versificator-paulstretch">
          <div class="thumbnail" style="background-image:url('')">
            <div class="subtitle">
              11/2014, Stretched and Droned 
            </div>
          </div>
          <div class="content">
            <p>Demo &gt; <a href="http://sebpiq.github.io/paulstretch.js/examples/stretched-and-droned/dist/index.html">HERE</a></p>

            <p>There is lot of audio content and music readily available on the Internet. In fact more than you could ever listen to. So instead of composing everything from scratch all over again, why not just recycling what's already there?</p>

            <p>Based on this idea, I built a simple "instrument" that allows you to fetch any track from soundcloud and turn it into a drone by using paulstretch and bit of amplitude modulation and filtering.</p>
          </div>
        </div>

      </div>


    </div>

  </div>

  <div id="modal">
    <div class="content"></div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-17637518-4', 'funktion.fm');
    ga('send', 'pageview');
  </script>

  <script src="{{static.root}}js/funktion.fm.js"></script>

</body>

</html>
