<!DOCTYPE html>
<html>
<head>
  <title>funktion.fm</title>
  <meta charset="utf-8">
  <link href="{{static.root}}css/webfontkit/stylesheet.css" rel="stylesheet" type="text/css">
  <link href="{{static.root}}css/jquery.jscrollpane.css" rel="stylesheet" type="text/css" media="all" />
  <link href="{{static.root}}css/funktion.fm.css" rel="stylesheet" type="text/css">
  <script src="http://platform.twitter.com/widgets.js"></script>
</head>

<body>
  <svg id="bgSvg"></svg>
  <div id="mainPage">

    <div id="nav">
      <button class="toggle">
        <img class="white" src="{{static.root}}images/nav-white.svg" />
        <img class="black" src="{{static.root}}images/nav-black.svg" />
      </button>
      <ul class="menu">
        <li class="contact"><button>funktion.fm</button></li>
        <li class="news"><button>NEWS</button></li>
        <li class="projects"><button>PROJECTS</button></li>
      </ul>
    </div>

    <div id="contactBody">
      <div class="title">funktion.fm</div>
      <div class="name">Sébastien Piquemal</div>
      <div class="mail">sebpiq@gmail.com</div>
      <div class="social">
        <a href="https://twitter.com/sebpiq"><img src="images/twitter.png" /></a>
        <a href="https://github.com/sebpiq"><img src="images/github.png" /></a>
        <a href="https://soundcloud.com/sebpiq"><img src="images/soundcloud.png" /></a>
        <a href="https://vimeo.com/sebpiq"><img src="images/vimeo.png" /></a>
      </div>
    </div>

    <div id="newsBody">
      {{#each getPosts}}
      <div class="summary">
        <div class="title">
          <div class="date">{{prettifyDate date}}</div>
          <a href="#post/{{slug}}">{{title}}</a>
        </div>
        <div class="preview">{{{preview}}}</div>
        <div class="clearfix"></div>
      </div>
      {{/each}}
    </div>

    <div id="postBody"></div>

    <div id="projectsBody">

      <!-- FIELDS -->
        <!--
      <div class="project">

        <div class="tile info">
          
        </div>

        <div class="tile" data-href="#projects/fields">
          <div class="thumbnail">
            <img src="images/projects/fields-video-1.jpg" style="margin-top:65px" />
          </div>
          <div class="content">
            <iframe src="//player.vimeo.com/video/92586493?title=0&amp;byline=0&amp;portrait=0" width="300" height="169" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="margin-top:65px"></iframe>
          </div>
        </div>

      </div>-->

      <!-- Raspberry Pi workshops -->
      <!--<div class="project">

        <div class="tile" data-href="#projects/pd-rpi-workshop">
          <div class="thumbnail">
            <img src="images/projects/pd-rpi-workshop-1.jpg" style="width:100%" />
          </div>
          <div class="content">
            <iframe src="//player.vimeo.com/video/76307579?title=0&amp;byline=0&amp;portrait=0" width="300" height="169" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

        <div class="tile" data-href="#projects/pd-rpi-workshop">
          <div class="thumbnail">
            <img src="images/projects/pd-rpi-workshop-1.jpg" style="width:100%" />
          </div>
          <div class="content">
            <img src="images/projects/pd-rpi-workshop-1.jpg" style="width:100%" />
          </div>
        </div>

        <div class="tile" data-href="#projects/pd-rpi-workshop">
          <div class="thumbnail">
            <img src="images/projects/pd-rpi-workshop-2.jpg" style="width:100%" />
          </div>
          <div class="content">
            <img src="images/projects/pd-rpi-workshop-2.jpg" style="width:100%" />
          </div>
        </div>

        <div class="tile" data-href="#projects/pd-rpi-workshop">
          <div class="thumbnail">
            <img src="images/projects/pd-rpi-workshop-3.jpg" style="width:100%" />
          </div>
          <div class="content">
            <img src="images/projects/pd-rpi-workshop-3.jpg" style="width:100%" />
          </div>
        </div>

        <div class="tile" data-href="#projects/pd-rpi-workshop">
          <div class="thumbnail">
            <img src="images/projects/pd-rpi-workshop-4.jpg" style="width:100%" />
          </div>
          <div class="content">
            <img src="images/projects/pd-rpi-workshop-4.jpg" style="width:100%" />
          </div>
        </div>

      </div>-->

    </div>

  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-17637518-4', 'funktion.fm');
    ga('send', 'pageview');
  </script>

  <script src="{{static.root}}js/funktion.fm.js"></script>

</body>

</html>
