<div class="container">
  <div class="title">{{post.title}}</div>
  <div class="date">posted the {{prettifyDate post.date}}</div>
  <div class="social">

    <a class="twitter" href=""
      onclick="
        window.open(
          'https://twitter.com/intent/tweet?text={{post.title}} ' + encodeURIComponent(location.href) + ' via @sebpiq',
          'twitter-share-dialog',
          'width=626,height=436');
        return false;">
      <img src="{{static.root}}images/twitter-blue.svg">
    </a>

    <a class="facebook" href="" 
      onclick="
        window.open(
          'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
          'facebook-share-dialog',
          'width=626,height=436'); 
        return false;">
      <img src="{{static.root}}images/facebook-blue.svg">
    </a>

  </div>

  <div class="content">{{{post.content}}}</div>   

</div>
