<div class="post">
  <div class="title">{{post.title}}</div>
  <div class="date">posted the {{prettifyDate post.date}}</div>
  <div class="social">

    <a class="facebook" href="#" 
      onclick="
        window.open(
          'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
          'facebook-share-dialog',
          'width=626,height=436'); 
        return false;">
      <img src="{{static.root}}images/fb-share.png" />
      <span>Share</span>
    </a>

    <a href="https://twitter.com/share"
      class="twitter-share-button" 
      data-url="http://funktion.fm#post/{{post.slug}}" 
      data-text="{{post.title}} http://funktion.fm#post/{{post.slug}}" 
      data-via="sebpiq"
      data-count="none">
      Tweet
    </a>
    <script>
      twttr.widgets.load()
    </script>

  </div>

  <div class="content">{{{post.content}}}</div>

  <!--
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      window.disqus_shortname = 'funktionfm';
      window.disqus_identifier = '{{post.url}}';
      window.disqus_url = '{{post.url}}';

      DISQUS.reset({
        reload: true,
        config: function () {  
          this.page.identifier = '{{post.url}}';
          this.page.url = document.location.href;
        }
     })
     $('#disqus_thread').show()
  </script>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  -->    

</div>
